<div class="container">
   <div class="container-info">

    <div class="content">
        <h1 class="title">We Provide High  Quality <a class="dental">Dental</a> Services</h1><br>
        <a class="subtitle">Appropriately embrace transparent materials via <br> turnkey niche markets. </a>

        <div class="get-started">
            <button class="custom-get-started">Get Started</button>
            <button class="custom-learn">Learn More</button>
        </div>
    </div>

    <div class="image">
        <img src="assets/landing.png" alt="">
    </div>

   </div>
</div>

<app-dental-service></app-dental-service>


<app-about-us></app-about-us>

<app-register></app-register>