<div class="service">
    <div class="container">
      <div class="content">
        <div class="title">
            <h1> How to get our service? </h1>
            <p>Just follow these simple steps</p>
        </div>
        <div class="steps">
            <div class="card">
                <img src="assets/Call.png" alt=""><br>
                <a class="card-text">Call for appointment</a>
            </div>
            <div class="card">
                <img src="assets/Date.png" alt=""><br>
                <a class="card-text">Get a <br> Date & Serial</a>
            </div>
            <div class="card">
                <img src="assets/consultor.png" alt=""><br>
                <a class="card-text">Consult <br> Your dentist</a>
            </div>

        </div>
      </div>

    </div>
</div>

<div class="container">

    <div class="provide">
    
        <div class="img">
            <h1 class="title-img">Always <a class="dental">Lough</a> <br> Whenever Its Possible </h1>
            <img class="doctor-pr" src="assets/doctor.png" alt="">
        </div>
    
        <div class="content-provided">
            <div class="text">

                <p  class="title-offer">We also offer treatments that improve the appearance of your smile <br> giving you the confidence boost you deserve. The process or our <br> treatment below.</p> <br>
                <p class="w-p" >WHAT WE PROVIDE</p>
                <div class="points">
                    <div class="item">
                      <img src="assets/done.png">
                      <p>Check ups</p>
                    </div>
                    <div class="item">
                        <img src="assets/done.png">
                      <p>Cosmetic dentistry</p>
                    </div>
                    <div class="item">
                        <img src="assets/done.png">
                      <p>Orthodontics</p>
                    </div> <div class="item">
                        <img src="assets/done.png">
                      <p>Preventative checks</p>
                    </div> <div class="item">
                        <img src="assets/done.png">
                      <p>Emergencies</p>
                    </div> <div class="item">
                        <img src="assets/done.png">
                      <p>Dental implants</p>
                    </div> <div class="item">
                        <img src="assets/done.png">
                      <p>Children’s dentistry</p>
                    </div> <div class="item">
                        <img src="assets/done.png">
                      <p>Telephone consultations</p>
                    </div>
                  </div>
            </div>
        
              
        </div>
    </div>


    <div class="titles">
        <p class="left-text">What Makes Us More <br> Special</p>
        <p class="right-text">KEY <a class="dental">FEATURE</a></p>
      </div>

      <div class="container-card">
        <div class="row">
          <div class="card-special">
            <img src="assets/01.png" alt="Imagen 1">
            <h2>Laser Technology</h2>
            <p>Worlds most advanced Diode Laser. 
                Your treatment experience will be 
                relaxing & smooth.</p>
          </div>
          <div class="card-special">
            <img src="assets/02.png" alt="Imagen 2">
            <h2>Painless Injection</h2>
            <p>Only dental clinic in New York, USA utilising Painless Injection system. You will be amazed!</p>
          </div>
          <div class="card-special">
            <img src="assets/03.png" alt="Imagen 3">
            <h2>Dental  Implant</h2>
            <p>30+ years of experience in Dental Implant with specialist care. You will be able to chew properly again!</p>
          </div>
        </div>
        <div class="row">
            <div class="card-special">
                <img src="assets/04.png" alt="Imagen 1">
                <h2>3D Dental Scanner </h2>
                <p>One of the world’s most advanced 3D Dental Scanner with auto scanning only one in New York!</p>
              </div>
              <div class="card-special">
                <img src="assets/05.png" alt="Imagen 2">
                <h2> Digital Smile Design</h2>
                <p> We help to re-design your smile and shape your teeth to create a customised smile for your face!</p>
              </div>
              <div class="card-special">
                <img src="assets/06.png" alt="Imagen 3">
                <h2>Crown and Bridge</h2>
                <p> Transform you blackish gum to pinkish colour with painless, single appointment Laser Gum Treatment</p>
              </div>
        </div>
      </div>
</div>



<div class="service">
<div class="your-smile">
    <h1 class="text-smile">Let Us Brighten <a class="ys">Your Smile!</a></h1>
    <p class="text-smile">Helping patients achieve good dental health & beautiful smile is a privilege & responsibility. For over 30 <br> years, we proudly provided the best dental experience in New York. Our comfort-first approach is  <br> designed to meet the needs of you & your entire family.</p>
    <button class="custom-learn">Make An Appoinment</button>
</div>
</div>