<div class="service">
    <div class="container">
      <div class="content">
        <div class="title">
            <h1> How to get our service? </h1>
            <p>Just follow these simple steps</p>
        </div>
        <div class="steps">
            <div class="card">
                <img src="assets/Call.png" alt=""><br>
                <a class="card-text">Call for appointment</a>
            </div>
            <div class="card">
                <img src="assets/Date.png" alt=""><br>
                <a class="card-text">Get a <br> Date & Serial</a>
            </div>
            <div class="card">
                <img src="assets/consultor.png" alt=""><br>
                <a class="card-text">Consult <br> Your dentist</a>
            </div>

        </div>
      </div>

    </div>

</div>