<div class="container">
    <div class="titles">
        <p class="left-text">MAKE AN <a class="dental">APPOINMENT</a></p>
        <p class="right-text">Consult with our <br>
            <a class="doctor">Doctor</a></p>
      </div>

      <div class="content-apoinment">
        <div class="img-apoinment">
            <img src="assets/apoinment.png" alt="">
        </div>
        <div class="form-apoinment">
            <form>
              <div class="row">
                <div class="input-wrapper">
                  <label for="name">Name</label> 
                  <input type="text" id="name" class="styled-input" placeholder="Full Name">
                </div>
                <div class="input-wrapper">
                  <label for="phone">Phone</label>
                  <input type="tel" id="phone" class="styled-input" placeholder="(555) 000-0000">
                </div>
              </div>
              
              <div class="row">
                <div class="input-wrapper">
                    <label for="date">Date</label>
                  <input type="date" class="styled-input" placeholder="Input 3">
                </div>
                <div class="input-wrapper">
                    <label for="doctor">Doctor</label>
                    <select id="cars" class="styled-inputt">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                      </select>
                      
                </div>
              </div>
              <div class="input-wrapper">
                <label  for="message">Message</label>
              <textarea class="message" cols="20" rows="10" ></textarea>

              <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkmark"></span>
                You agree to our friendly privacy policy
              </label>
              
              
              
              </div>
              <button class="confirm">Confirm Appoinment</button>
            </form>
          </div>
          
      </div>

      <div class="card">
        <div class="circle circle1"></div> <!-- Agrega el primer círculo -->
        <div class="circle circle2"></div> <!-- Agrega el segundo círculo -->
        <h1 class="title">Subscribe to our newsletter</h1>
        <div class="input-container">
          <div class="input-wrapper1">
            <input type="text" class="input" placeholder="First Name">
          </div>
          <div class="input-wrapper1">
            <input type="email" class="input" placeholder="Email Adress">
          </div>
          <button class="button">Subscribe Now</button>
        </div>
      </div>
      
      
      
      
</div>