.titles {
    display: flex;
    justify-content: space-between; 
  }
  
  .left-text {
   font-size: 50px;
  }
  
  .right-text {
  font-size: 40px;
  }
  
  .doctor{
    font-weight: 500;
   
  }
  .content-apoinment{
    display: flex;
    margin-bottom: 70px;
  }
  .form-apoinment {
    margin: 0 auto; /* Centrar horizontalmente */
  }
  
  .row {
    display: flex; /* Utiliza flexbox para organizar los inputs */
    margin-bottom: 10px; /* Espacio entre las filas */
  }
  
  .input-wrapper {
    flex: 1; /* Distribuye el espacio disponible entre los inputs */
    margin: 16px; /* Espacio entre los inputs */
  }
  
  .styled-input {
    margin-top: 10px;
    width: 100%; /* Ancho completo */
    height: 30px; /* Altura del input */
    padding: 5px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: #fff; /* Color de fondo */
  }
  
  /* Cambia el estilo cuando el input está enfocado */
  .styled-input:focus {
    outline: none; /* Elimina el borde de enfoque */
    border-color: #007bff; /* Cambia el color del borde */
  }
  
  .confirm {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno del botón */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #516eff; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  .confirm:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar sobre el botón */
  }
  
  .styled-inputt {
    width: 107%; /* Ancho completo */
    height: 42px; /* Altura del input */
    padding: 5px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: #fff; /* Color de fondo */
    margin-top: 10px;
  }
  
  /* Cambia el estilo cuando el input está enfocado */
  .styled-inputt:focus {
    outline: none; /* Elimina el borde de enfoque */
    border-color: #516eff; /* Cambia el color del borde */
  }
  
  .message{
    margin-top: 10px;
    width: 102%; /* Ancho completo */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: #fff; /* Color de fondo */
    margin-bottom: 30px;
  }
  label{
    margin-bottom: 20px;
    color: #18181b !important;
  }
/* Estilo para el contenedor del checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px; /* Ajusta el espacio a la izquierda del texto */
    margin-bottom: 12px; /* Espacio entre cada checkbox */
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Estilo para el checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Estilo para el checkmark (indicador visual del checkbox) */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0; /* Posición a la izquierda del contenedor */
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 3px;
  }
  
  /* Estilo del checkmark cuando el checkbox está marcado */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #516eff; /* Cambia el color del checkmark cuando el checkbox está marcado */
  }
  
  /* Estilo del checkmark cuando el mouse pasa sobre el texto */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc; /* Cambia el color del checkmark cuando el mouse pasa sobre el texto */
  }


  
  .card {
    position: relative;
    background-color: #216583;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-left: 23%;
  }
  
  .input-wrapper1 {
    display: inline-block;
    margin-right: 10px;
  }
  
  .input {
    padding: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 5px;
    width: 200px;
  }
  .input::placeholder {
    color: white;
  }
  
  
  .button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .circle {
    position: absolute;
    border: solid 2px #eeee;
    margin: 2%;
    height: 40px; /* Altura de la media luna */
    width: 80px; /* Ancho de la media luna */
    border-radius: 0 0 82% 66%;
    clip-path: ellipse(100% 56% at 78% 109%);
    transform: rotate(-45deg); /* Rotar la media luna en sentido antihorario */
  }
  
  .circle1 {
    top: -17px;
    left: -44px;
  }
  
  .circle2 {
    bottom: -29px;
    right: -34px;
    transform: rotate(155deg);
}
  