.titles {
    display: flex;
    justify-content: space-between; 
  }
  
  .left-text {
   font-size: 50px;
  }
  
  .right-text {
  font-size: 40px;
  }
  
  .doctor{
    font-weight: 500;
   
  }
  .content-apoinment{
    display: flex;
    margin-bottom: 100px;
  }
  .form-apoinment {
    margin: 0 auto; 
  }
  
  .row {
    display: flex;
    margin-bottom: 10px; 
  }
  
  .input-wrapper {
    flex: 1; 
    margin: 16px;
  }
  
  .styled-input {
    margin-top: 10px;
    width: 100%;
    height: 30px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    color: #333;
    background-color: #fff;
  }
  

  .styled-input:focus {
    outline: none; 
    border-color: #007bff; 
  }
  
  .confirm {
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #516eff;
    color: #fff; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
  .confirm:hover {
    background-color: #0056b3;
  }
  
  .styled-inputt {
    width: 107%; 
    height: 42px; 
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px; 
    color: #333; 
    background-color: #fff; 
    margin-top: 10px;
  }
  
  
  .styled-inputt:focus {
    outline: none; 
    border-color: #516eff; 
  }
  
  .message{
    margin-top: 10px;
    width: 102%;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
    color: #333; 
    background-color: #fff; 
    margin-bottom: 30px;
  }
  label{
    margin-bottom: 20px;
    color: #18181b !important;
  }

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px; 
    cursor: pointer;
    font-size: 16px;
  }
  

  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0; 
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 3px;
  }
  

  .checkbox-container input:checked ~ .checkmark {
    background-color: #516eff; 
  }
  

  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc; 
  }


  
  .card {
    position: relative;
    background-color: #216583;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-left: 23%;
  }
  
  .input-wrapper1 {
    display: inline-block;
    margin-right: 10px;
  }
  
  .input {
    padding: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 5px;
    width: 200px;
  }
  .input::placeholder {
    color: white;
  }
  
  
  .button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .circle {
    position: absolute;
    border: solid 2px #eeee;
    margin: 2%;
    height: 40px; /* Altura de la media luna */
    width: 80px; /* Ancho de la media luna */
    border-radius: 0 0 82% 66%;
    clip-path: ellipse(100% 56% at 78% 109%);
    transform: rotate(-45deg); /* Rotar la media luna en sentido antihorario */
  }
  
  .circle1 {
    top: -17px;
    left: -44px;
  }
  
  .circle2 {
    bottom: -29px;
    right: -34px;
    transform: rotate(155deg);
}
  