<footer class="footer">
    <div class="column">
        <div class="logo"><br>
            <div class="img">
                <img src="assets/logow.png" alt="">
            </div>
            <div>
                <h2  class="title"> Dentics</h2>
            </div>
        </div>
     <p class="footer-text">Dentics is a well-known name in dental and oral care in New York. The journey of this institution started in 1990</p>
    </div>


    <div class="column">
     <p class="colum1">We are welcoming you</p>
      
     <h1 class="title">Want to visit
        our clinic?</h1>
        <p class="colum1">Saturday - Thrusday <br><br>
            10 am - 9 pm
        </p>
       
    </div>


    <div class="column">
      <p class="colum1">Important link</p>




      <div class="footer-social">
        <div class="column-social">
        
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="column-social">
        
          <ul>
            <li><a href="#">Career</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
    </div>
      
      
    </div>


    <div class="column">
        <p class="colum1">Say hello to us</p>
        <p class="colum1">hello@reallygreatsite.com</p>
        <p class="colum1">Address <br><br>
            123 Anywhere St., Any City, NY 39200</p>
     
    </div>


  </footer>
  
  <div class="rights">
    <div class="content">
      <p>© 2001-2022, All Rights Reserved</p>
    </div>
</div>
  