<div class="container">
    <div class="titles">
        <p class="left-text">WHO <a class="dental">WE ARE</a></p>
        <p class="right-text">Our Glorious <br>
            <a class="history">History</a></p>
      </div>

      <div class="content">
        <div class="img-content">
            <img src="assets/history.png">
        </div>
        <div class="text-content">
            <div class="card-content">
                <h3>Our history</h3>
                <p>Dentics is a well-known name in dental and oral care in New York. <br> The journey of this institution started in 1990 under the hands of <br> Dr. Jonathon Doe, Gold Medalist of Harvard University. Dentics <br> dental center has been leading the way in dental treatment in <br> USA for more than 30 years in keeping with the evolution of time <br> and the modernization of the era.
                </p>
            </div>
        </div>
      </div>

      <div class="titles">
        <p class="left-text"> Meet Some of Our <br> <a class="history">Brains</a> </p>
        <p class="right-text">MEET OUR <a class="dental">DOCTORS</a></p>
      </div>
      <div class="doctors"></div>
</div>

<div class="service">
   <div class="container1">
    <div class="content-client">
        <div class="content-img">
            <img src="assets/client.png" alt="">
         </div>
         <div class="content-text">
            <hr class="line">

             <h1 class="title">What our client says about us</h1> <br> 
             <img src="assets/Quote1.png" alt="">
             <p>I’ve seen a lot of Dentists over my lifetime because I’ve had some serious dental <br> issues. But my highest praise goes to Dr. Jonathon Doe and his staffs . I was always <br> very anxious going to the dentist but this time at Digital Implant, my experience was <br> so painless and relaxed their was no discomfort whatsoever.</p>
         </div>
    </div>
   </div>
</div>