<div class="navbar ">
    <div class="logo"><br>
        <div class="img">
            <img src="assets/logo.png" alt="">
        </div>
        <div>
            <h2  class="title"> Dentics</h2>
        </div>
    </div>
    <div class="content" >
      <ul>
          <li><a class="custom-button" >Appoinment</a></li>
          <li><a href="#Inicio">Register</a></li>
          <li><a href="#acercadeMi">About us </a></li>
          <li><a href="#Portafolio">Services</a></li>
        <li><a href="#sendmeMessage">Home</a></li>
      </ul>
    </div>
  
</div>

<div  class="navbar1 " >
    <div class="logo"><br>
        <div class="img">
            <img src="assets/logo.png" alt="">
        </div>
        <div>
            <h2  class="title"> Dentics</h2>
        </div>
    </div>
   
  </div>